{
  "openapi": "3.1.1",
  "info": {
    "title": "國土測繪圖資雲 WMTS 服務",
    "version": "v1.0",
    "description": "提供國土測繪圖資雲通用電子地圖、基本地形圖、航照影像及開放資料等 WMTS 圖磚服務。"
  },
  "servers": [
    {
      "url": "https://wmts.nlsc.gov.tw"
    }
  ],
  "tags": [
    {
      "name": "WMTS",
      "description": "WMTS 服務"
    }
  ],
  "paths": {
    "/wmts/Village201910/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_村里界線(108年)",
        "description": "WMTS_村里界線(108年)",
        "operationId": "2dms_wmts_v1_Village201910",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/Village/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_村里界線",
        "description": "WMTS_村里界線",
        "operationId": "2dms_wmts_v1_Village",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111Q01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_嘉義縣民雄(111年)",
        "description": "WMTS_UAV空拍影像_嘉義縣民雄(111年)",
        "operationId": "2dms_wmts_v1_UAV111Q01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111P02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_雲林縣口湖(111年)",
        "description": "WMTS_UAV空拍影像_雲林縣口湖(111年)",
        "operationId": "2dms_wmts_v1_UAV111P02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111P01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_雲林縣臺西(111年)",
        "description": "WMTS_UAV空拍影像_雲林縣臺西(111年)",
        "operationId": "2dms_wmts_v1_UAV111P01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111K02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_苗栗縣泰安鄉觀霧(111年)",
        "description": "WMTS_UAV空拍影像_苗栗縣泰安鄉觀霧(111年)",
        "operationId": "2dms_wmts_v1_UAV111K02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111K01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_苗栗縣泰安鄉雪見(111年)",
        "description": "WMTS_UAV空拍影像_苗栗縣泰安鄉雪見(111年)",
        "operationId": "2dms_wmts_v1_UAV111K01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111J03/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_新竹縣竹北_3(111年)",
        "description": "WMTS_UAV空拍影像_新竹縣竹北_3(111年)",
        "operationId": "2dms_wmts_v1_UAV111J03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111J02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_新竹縣竹北_2(111年)",
        "description": "WMTS_UAV空拍影像_新竹縣竹北_2(111年)",
        "operationId": "2dms_wmts_v1_UAV111J02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111J01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_新竹縣竹北_1(111年)",
        "description": "WMTS_UAV空拍影像_新竹縣竹北_1(111年)",
        "operationId": "2dms_wmts_v1_UAV111J01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111E01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_高雄市永安(111年)",
        "description": "WMTS_UAV空拍影像_高雄市永安(111年)",
        "operationId": "2dms_wmts_v1_UAV111E01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111D01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市柳營(111年)",
        "description": "WMTS_UAV空拍影像_臺南市柳營(111年)",
        "operationId": "2dms_wmts_v1_UAV111D01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111A06 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市士林陽明山夢幻湖(111年)",
        "description": "WMTS_UAV空拍影像_臺北市士林陽明山夢幻湖(111年)",
        "operationId": "2dms_wmts_v1_UAV111A06",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111A05/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市士林陽明山馬槽(111年)",
        "description": "WMTS_UAV空拍影像_臺北市士林陽明山馬槽(111年)",
        "operationId": "2dms_wmts_v1_UAV111A05",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111A04/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市士林陽明山大油坑(111年)",
        "description": "WMTS_UAV空拍影像_臺北市士林陽明山大油坑(111年)",
        "operationId": "2dms_wmts_v1_UAV111A04",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111A03 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市萬華(111年)",
        "description": "WMTS_UAV空拍影像_臺北市萬華(111年)",
        "operationId": "2dms_wmts_v1_UAV111A03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV111A02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市北投(111年)",
        "description": "WMTS_UAV空拍影像_臺北市北投(111年)",
        "operationId": "2dms_wmts_v1_UAV111A02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110Q02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_嘉義縣鹿草(110年)",
        "description": "WMTS_UAV空拍影像_嘉義縣鹿草(110年)",
        "operationId": "2dms_wmts_v1_UAV110Q02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110Q01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_嘉義縣朴子(110年)",
        "description": "WMTS_UAV空拍影像_嘉義縣朴子(110年)",
        "operationId": "2dms_wmts_v1_UAV110Q01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110N01 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_彰化縣芳苑(110年)",
        "description": "WMTS_UAV空拍影像_彰化縣芳苑(110年)",
        "operationId": "2dms_wmts_v1_UAV110N01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110E02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_高雄市大社(110年)",
        "description": "WMTS_UAV空拍影像_高雄市大社(110年)",
        "operationId": "2dms_wmts_v1_UAV110E02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D08 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市歸仁_2(110年)",
        "description": "WMTS_UAV空拍影像_臺南市歸仁_2(110年)",
        "operationId": "2dms_wmts_v1_UAV110D08",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D07 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市歸仁_2(110年)",
        "description": "WMTS_UAV空拍影像_臺南市歸仁_2(110年)",
        "operationId": "2dms_wmts_v1_UAV110D07",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D06/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市永康_2(110年)",
        "description": "WMTS_UAV空拍影像_臺南市永康_2(110年)",
        "operationId": "2dms_wmts_v1_UAV110D06",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D05 /{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市西港(110年)",
        "description": "WMTS_UAV空拍影像_臺南市西港(110年)",
        "operationId": "2dms_wmts_v1_UAV110D05",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D04/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市新營(110年)",
        "description": "WMTS_UAV空拍影像_臺南市新營(110年)",
        "operationId": "2dms_wmts_v1_UAV110D04",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D03/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市安南(110年)",
        "description": "WMTS_UAV空拍影像_臺南市安南(110年)",
        "operationId": "2dms_wmts_v1_UAV110D03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市南化(110年)",
        "description": "WMTS_UAV空拍影像_臺南市南化(110年)",
        "operationId": "2dms_wmts_v1_UAV110D02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110D01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺南市永康_1(110年)",
        "description": "WMTS_UAV空拍影像_臺南市永康_1(110年)",
        "operationId": "2dms_wmts_v1_UAV110D01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110B03/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺中市霧峰(110年)",
        "description": "WMTS_UAV空拍影像_臺中市霧峰(110年)",
        "operationId": "2dms_wmts_v1_UAV110B03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110B02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺中市烏日(110年)",
        "description": "WMTS_UAV空拍影像_臺中市烏日(110年)",
        "operationId": "2dms_wmts_v1_UAV110B02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110B01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺中市豐原(110年)",
        "description": "WMTS_UAV空拍影像_臺中市豐原(110年)",
        "operationId": "2dms_wmts_v1_UAV110B01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV110A01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_臺北市士林(110年)",
        "description": "WMTS_UAV空拍影像_臺北市士林(110年)",
        "operationId": "2dms_wmts_v1_UAV110A01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV109U03/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_花蓮縣光復(109年)",
        "description": "WMTS_UAV空拍影像_花蓮縣光復(109年)",
        "operationId": "2dms_wmts_v1_UAV109U03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV109U02/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_花蓮縣卓溪_2(109年)",
        "description": "WMTS_UAV空拍影像_花蓮縣卓溪_2(109年)",
        "operationId": "2dms_wmts_v1_UAV109U02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV109U01/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_花蓮縣卓溪_1(109年)",
        "description": "WMTS_UAV空拍影像_花蓮縣卓溪_1(109年)",
        "operationId": "2dms_wmts_v1_UAV109U01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
              ],
              "default": "image/png"
            },
            "description": "輸出圖磚格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功回傳 WMTS 圖磚",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "參數錯誤"
          }
        }
      }
    },
    "/wmts/UAV109T03/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}": {
      "get": {
        "tags": [
          "WMTS"
        ],
        "summary": "WMTS_UAV空拍影像_屏東縣高樹(109年)",
        "description": "WMTS_UAV空拍影像_屏東縣高樹(109年)",
        "operationId": "2dms_wmts_v1_UAV109T03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "Style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "default"
            },
            "description": "圖樣風格 (預設 default)"
          },
          {
            "name": "TileMatrixSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826"
              ],
              "default": "EPSG:3857"
            },
            "description": "圖磚矩陣集 (座標參考系統)"
          },
          {
            "name": "TileMatrix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "縮放層級 (zoom level)"
          },
          {
            "name": "TileRow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚行號"
          },
          {
            "name": "TileCol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "圖磚列號"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg"
[...]
