{
  "openapi": "3.1.1",
  "info": {
    "title": "國土測繪圖資雲一千分之一地形圖WFS服務",
    "description": "提供一千分之一地形圖 GetFeature 服務",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://wfs.nlsc.gov.tw/WFS"
    }
  ],
  "paths": {
    "/TOPON1K/TOPON1K_112_B04": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市東勢都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市東勢都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B04",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B11": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市新社都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市新社都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B11",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B14": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市烏日都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市烏日都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B14",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B15": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市大肚都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市大肚都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B15",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_B20": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市中部科學工業園區台中基地附近特定區計畫(113年)",
        "description": "WFS_1/1000地形圖_臺中市中部科學工業園區台中基地附近特定區計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B20",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B22": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市高速公路王田交流道附近特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市高速公路王田交流道附近特定區計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B22",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_B25": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市豐潭雅神都市計畫(113年)",
        "description": "WFS_1/1000地形圖_臺中市豐潭雅神都市計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B25",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D03": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市新營都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市新營都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D04": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市高速公路新營交流道附近特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市高速公路新營交流道附近特定區計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D04",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D05": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市鹽水都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市鹽水都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D05",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_D08": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市佳里都市計畫(113年)",
        "description": "WFS_1/1000地形圖_臺南市佳里都市計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D08",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D12": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市柳營都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市柳營都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D12",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_E02": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市鳳山都市計畫(113年)",
        "description": "WFS_1/1000地形圖_高雄市鳳山都市計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E02",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_E03": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市岡山都市計畫(112年)",
        "description": "WFS_1/1000地形圖_高雄市岡山都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E03",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_E32": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市(三民.苓雅.前金.新興.前鎮.鹽埕)都市計畫(113年)",
        "description": "WFS_1/1000地形圖_高雄市(三民.苓雅.前金.新興.前鎮.鹽埕)都市計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E32",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_G01": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣宜蘭市都市計畫(113年)",
        "description": "WFS_1/1000地形圖_宜蘭縣宜蘭市都市計畫(113年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G01",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G04": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣蘇澳(新馬地區)都市計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣蘇澳(新馬地區)都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G04",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G06": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣礁溪都市計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣礁溪都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G06",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G09": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣員山都市計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣員山都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G09",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G11": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣冬山(順安地區)都市計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣冬山(順安地區)都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G11",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G15": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣南澳南強都市計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣南澳南強都市計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G15",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G16": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣大湖風景特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣大湖風景特定區計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G16",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_G17": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_宜蘭縣梅花湖風景特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_宜蘭縣梅花湖風景特定區計畫(112年)",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_G17",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
[...]
