{
  "openapi": "3.1.1",
  "info": {
    "title": "國土測繪圖資雲模糊檢索API服務",
    "description": "提供國土測繪圖資雲模糊檢索API服務",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.nlsc.gov.tw"
    }
  ],
  "tags": [
    {
      "name": "模糊檢索",
      "description": "國土測繪圖資雲 - 模糊檢索 API"
    }
  ],
  "paths": {
    "/idc/TextQueryMap/{queryString}/{number}/{county}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_全域模糊檢索_全國",
        "description": "API_模糊檢索_全域模糊檢索_全國",
        "operationId": "2dms_addrm_v1_TextQueryMap",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "queryString",
            "in": "path",
            "required": true,
            "description": "搜尋字串",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "回傳數量(預設為10)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "path",
            "required": true,
            "description": "縣市代碼",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TextQueryMapList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/TextQueryAddress/{queryString}/{num}/{county}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_模糊檢索_全國",
        "description": "API_模糊檢索_模糊檢索_全國",
        "operationId": "2dms_addrm_v1_TextQueryAddress",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "queryString",
            "in": "path",
            "required": true,
            "description": "搜尋字串",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "回傳數量(預設為10)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "path",
            "required": true,
            "description": "縣市代碼",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TextQueryAddressList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/G/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_宜蘭縣",
        "description": "API_模糊檢索_路名清單_宜蘭縣",
        "operationId": "2dms_addrm_v1_ListRoad_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：G01:宜蘭市, G02:頭城鎮, G03:礁溪鄉, G04:壯圍鄉, G05:員山鄉, G06:羅東鎮, G07:五結鄉, G08:冬山鄉, G09:蘇澳鎮, G10:三星鄉, G11:大同鄉, G12:南澳鄉",
            "schema": {
              "type": "string",
              "enum": [
                "G01",
                "G02",
                "G03",
                "G04",
                "G05",
                "G06",
                "G07",
                "G08",
                "G09",
                "G10",
                "G11",
                "G12"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/U/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_花蓮縣",
        "description": "API_模糊檢索_路名清單_花蓮縣",
        "operationId": "2dms_addrm_v1_ListRoad_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：U01:花蓮市, U02:光復鄉, U03:玉里鎮, U04:新城鄉, U05:吉安鄉, U06:壽豐鄉, U07:鳳林鎮, U08:豐濱鄉, U09:瑞穗鄉, U10:富里鄉, U11:秀林鄉, U12:萬榮鄉, U13:卓溪鄉",
            "schema": {
              "type": "string",
              "enum": [
                "U01",
                "U02",
                "U03",
                "U04",
                "U05",
                "U06",
                "U07",
                "U08",
                "U09",
                "U10",
                "U11",
                "U12",
                "U13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/W/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_金門縣",
        "description": "API_模糊檢索_路名清單_金門縣",
        "operationId": "2dms_addrm_v1_ListRoad_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：W01:金湖鎮, W02:金沙鎮, W03:金城鎮, W04:金寧鄉, W05:烈嶼鄉, W06:烏坵鄉",
            "schema": {
              "type": "string",
              "enum": [
                "W01",
                "W02",
                "W03",
                "W04",
                "W05",
                "W06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/M/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_南投縣",
        "description": "API_模糊檢索_路名清單_南投縣",
        "operationId": "2dms_addrm_v1_ListRoad_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：M01:南投市, M02:埔里鎮, M03:草屯鎮, M04:竹山鎮, M05:集集鎮, M06:名間鄉, M07:鹿谷鄉, M08:中寮鄉, M09:魚池鄉, M10:國姓鄉, M11:水里鄉, M12:信義鄉, M13:仁愛鄉",
            "schema": {
              "type": "string",
              "enum": [
                "M01",
                "M02",
                "M03",
                "M04",
                "M05",
                "M06",
                "M07",
                "M08",
                "M09",
                "M10",
                "M11",
                "M12",
                "M13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/T/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_屏東縣",
        "description": "API_模糊檢索_路名清單_屏東縣",
        "operationId": "2dms_addrm_v1_ListRoad_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：T01:屏東市, T02:潮州鎮, T03:東港鎮, T04:恆春鎮, T05:萬丹鄉, T06:長治鄉, T07:麟洛鄉, T08:九如鄉, T09:里港鄉, T10:鹽埔鄉, T11:高樹鄉, T12:萬巒鄉, T13:內埔鄉, T14:竹田鄉, T15:新埤鄉, T16:枋寮鄉, T17:新園鄉, T18:崁頂鄉, T19:林邊鄉, T20:南州鄉, T21:佳冬鄉, T22:琉球鄉, T23:車城鄉, T24:滿州鄉, T25:枋山鄉, T26:三地門鄉, T27:霧臺鄉, T28:瑪家鄉, T29:泰武鄉, T30:來義鄉, T31:春日鄉, T32:獅子鄉, T33:牡丹鄉",
            "schema": {
              "type": "string",
              "enum": [
                "T01",
                "T02",
                "T03",
                "T04",
                "T05",
                "T06",
                "T07",
                "T08",
                "T09",
                "T10",
                "T11",
                "T12",
                "T13",
                "T14",
                "T15",
                "T16",
                "T17",
                "T18",
                "T19",
                "T20",
                "T21",
                "T22",
                "T23",
                "T24",
                "T25",
                "T26",
                "T27",
                "T28",
                "T29",
                "T30",
                "T31",
                "T32",
                "T33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/K/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_苗栗縣",
        "description": "API_模糊檢索_路名清單_苗栗縣",
        "operationId": "2dms_addrm_v1_ListRoad_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：K01:苗栗市, K02:苑裡鎮, K03:通霄鎮, K04:公館鄉, K05:銅鑼鄉, K06:三義鄉, K07:西湖鄉, K08:頭屋鄉, K09:竹南鎮, K10:頭份市, K11:造橋鄉, K12:後龍鎮, K13:三灣鄉, K14:南庄鄉, K15:大湖鄉, K16:卓蘭鎮, K17:獅潭鄉, K18:泰安鄉",
            "schema": {
              "type": "string",
              "enum": [
                "K01",
                "K02",
                "K03",
                "K04",
                "K05",
                "K06",
                "K07",
                "K08",
                "K09",
                "K10",
                "K11",
                "K12",
                "K13",
                "K14",
                "K15",
                "K16",
                "K17",
                "K18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/H/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_桃園市",
        "description": "API_模糊檢索_路名清單_桃園市",
        "operationId": "2dms_addrm_v1_ListRoad_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：H01:桃園區, H02:大溪區, H03:中壢區, H04:楊梅區, H05:蘆竹區, H06:大園區, H07:龜山區, H08:八德區, H09:龍潭區, H10:平鎮區, H11:新屋區, H12:觀音區, H13:復興區",
            "schema": {
              "type": "string",
              "enum": [
                "H01",
                "H02",
                "H03",
                "H04",
                "H05",
                "H06",
                "H07",
                "H08",
                "H09",
                "H10",
                "H11",
                "H12",
                "H13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/E/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_高雄市",
        "description": "API_模糊檢索_路名清單_高雄市",
        "operationId": "2dms_addrm_v1_ListRoad_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：E01:鹽埕區, E02:鼓山區, E03:左營區, E04:楠梓區, E05:三民區, E06:新興區, E07:前金區, E08:苓雅區, E09:前鎮區, E10:旗津區, E11:小港區, E12:鳳山區, E13:林園區, E14:大寮區, E15:大樹區, E16:大社區, E17:仁武區, E18:鳥松區, E19:岡山區, E20:橋頭區, E21:燕巢區, E22:田寮區, E23:阿蓮區, E24:路竹區, E25:湖內區, E26:茄萣區, E27:永安區, E28:彌陀區, E29:梓官區, E30:旗山區, E31:美濃區, E32:六龜區, E33:甲仙區, E34:杉林區, E35:內門區, E36:茂林區, E37:桃源區, E38:那瑪夏區",
            "schema": {
              "type": "string",
              "enum": [
                "E01",
                "E02",
                "E03",
                "E04",
                "E05",
                "E06",
                "E07",
                "E08",
                "E09",
                "E10",
                "E11",
                "E12",
                "E13",
                "E14",
                "E15",
                "E16",
                "E17",
                "E18",
                "E19",
                "E20",
                "E21",
                "E22",
                "E23",
                "E24",
                "E25",
                "E26",
                "E27",
                "E28",
                "E29",
                "E30",
                "E31",
                "E32",
                "E33",
                "E34",
                "E35",
                "E36",
                "E37",
                "E38"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/C/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_基隆市",
        "description": "API_模糊檢索_路名清單_基隆市",
        "operationId": "2dms_addrm_v1_ListRoad_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：C01:中正區, C02:七堵區, C03:暖暖區, C04:仁愛區, C05:中山區, C06:安樂區, C07:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "C01",
                "C02",
                "C03",
                "C04",
                "C05",
                "C06",
                "C07"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/Z/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_連江縣",
        "description": "API_模糊檢索_路名清單_連江縣",
        "operationId": "2dms_addrm_v1_ListRoad_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Z01:南竿鄉, Z02:北竿鄉, Z03:莒光鄉, Z04:東引鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Z01",
                "Z02",
                "Z03",
                "Z04"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/P/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_雲林縣",
        "description": "API_模糊檢索_路名清單_雲林縣",
        "operationId": "2dms_addrm_v1_ListRoad_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：P01:斗六市, P02:斗南鎮, P03:虎尾鎮, P04:西螺鎮, P05:土庫鎮, P06:北港鎮, P07:古坑鄉, P08:大埤鄉, P09:莿桐鄉, P10:林內鄉, P11:二崙鄉, P12:崙背鄉, P13:麥寮鄉, P14:東勢鄉, P15:褒忠鄉, P16:臺西鄉, P17:元長鄉, P18:四湖鄉, P19:口湖鄉, P20:水林鄉",
            "schema": {
              "type": "string",
              "enum": [
                "P01",
                "P02",
                "P03",
                "P04",
                "P05",
                "P06",
                "P07",
                "P08",
                "P09",
                "P10",
                "P11",
                "P12",
                "P13",
                "P14",
                "P15",
                "P16",
                "P17",
                "P18",
                "P19",
                "P20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/F/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_新北市",
        "description": "API_模糊檢索_路名清單_新北市",
        "operationId": "2dms_addrm_v1_ListRoad_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：F01:新莊區, F02:林口區, F03:五股區, F04:蘆洲區, F05:三重區, F06:泰山區, F07:新店區, F08:石碇區, F09:深坑區, F10:坪林區, F11:烏來區, F14:板橋區, F15:三峽區, F16:鶯歌區, F17:樹林區, F18:中和區, F19:土城區, F21:瑞芳區, F22:平溪區, F23:雙溪區, F24:貢寮區, F25:金山區, F26:萬里區, F27:淡水區, F28:汐止區, F30:三芝區, F31:石門區, F32:八里區, F33:永和區",
            "schema": {
              "type": "string",
              "enum": [
                "F01",
                "F02",
                "F03",
                "F04",
                "F05",
                "F06",
                "F07",
                "F08",
                "F09",
                "F10",
                "F11",
                "F14",
                "F15",
                "F16",
                "F17",
                "F18",
                "F19",
                "F21",
                "F22",
                "F23",
                "F24",
                "F25",
                "F26",
                "F27",
                "F28",
                "F30",
                "F31",
                "F32",
                "F33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/O/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_新竹市",
        "description": "API_模糊檢索_路名清單_新竹市",
        "operationId": "2dms_addrm_v1_ListRoad_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：O01:新竹市",
            "schema": {
              "type": "string",
              "enum": [
                "O01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/J/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_新竹縣",
        "description": "API_模糊檢索_路名清單_新竹縣",
        "operationId": "2dms_addrm_v1_ListRoad_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：J02:竹東鎮, J03:關西鎮, J04:新埔鎮, J05:竹北市, J06:湖口鄉, J08:橫山鄉, J09:新豐鄉, J10:芎林鄉, J11:寶山鄉, J12:北埔鄉, J13:峨眉鄉, J14:尖石鄉, J15:五峰鄉",
            "schema": {
              "type": "string",
              "enum": [
                "J02",
                "J03",
                "J04",
                "J05",
                "J06",
                "J08",
                "J09",
                "J10",
                "J11",
                "J12",
                "J13",
                "J14",
                "J15"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/I/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_嘉義市",
        "description": "API_模糊檢索_路名清單_嘉義市",
        "operationId": "2dms_addrm_v1_ListRoad_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：I01:嘉義市",
            "schema": {
              "type": "string",
              "enum": [
                "I01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/Q/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_嘉義縣",
        "description": "API_模糊檢索_路名清單_嘉義縣",
        "operationId": "2dms_addrm_v1_ListRoad_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Q02:朴子市, Q03:布袋鎮, Q04:大林鎮, Q05:民雄鄉, Q06:溪口鄉, Q07:新港鄉, Q08:六腳鄉, Q09:東石鄉, Q10:義竹鄉, Q11:鹿草鄉, Q12:太保市, Q13:水上鄉, Q14:中埔鄉, Q15:竹崎鄉, Q16:梅山鄉, Q17:番路鄉, Q18:大埔鄉, Q20:阿里山鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Q02",
                "Q03",
                "Q04",
                "Q05",
                "Q06",
                "Q07",
                "Q08",
                "Q09",
                "Q10",
                "Q11",
                "Q12",
                "Q13",
                "Q14",
                "Q15",
                "Q16",
                "Q17",
                "Q18",
                "Q20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/N/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_彰化縣",
        "description": "API_模糊檢索_路名清單_彰化縣",
        "operationId": "2dms_addrm_v1_ListRoad_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：N01:彰化市, N02:鹿港鎮, N03:和美鎮, N04:北斗鎮, N05:員林市, N06:溪湖鎮, N07:田中鎮, N08:二林鎮, N09:線西鄉, N10:伸港鄉, N11:福興鄉, N12:秀水鄉, N13:花壇鄉, N14:芬園鄉, N15:大村鄉, N16:埔鹽鄉, N17:埔心鄉, N18:永靖鄉, N19:社頭鄉, N20:二水鄉, N21:田尾鄉, N22:埤頭鄉, N23:芳苑鄉, N24:大城鄉, N25:竹塘鄉, N26:溪州鄉",
            "schema": {
              "type": "string",
              "enum": [
                "N01",
                "N02",
                "N03",
                "N04",
                "N05",
                "N06",
                "N07",
                "N08",
                "N09",
                "N10",
                "N11",
                "N12",
                "N13",
                "N14",
                "N15",
                "N16",
                "N17",
                "N18",
                "N19",
                "N20",
                "N21",
                "N22",
                "N23",
                "N24",
                "N25",
                "N26"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/B/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_臺中市",
        "description": "API_模糊檢索_路名清單_臺中市",
        "operationId": "2dms_addrm_v1_ListRoad_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：B01:中區, B02:東區, B03:南區, B04:西區, B05:北區, B06:西屯區, B07:南屯區, B08:北屯區, B09:豐原區, B10:東勢區, B11:大甲區, B12:清水區, B13:沙鹿區, B14:梧棲區, B15:后里區, B16:神岡區, B17:潭子區, B18:大雅區, B19:新社區, B20:石岡區, B21:外埔區, B22:大安區, B23:烏日區, B24:大肚區, B25:龍井區, B26:霧峰區, B27:太平區, B28:大里區, B29:和平區",
            "schema": {
              "type": "string",
              "enum": [
                "B01",
                "B02",
                "B03",
                "B04",
                "B05",
                "B06",
                "B07",
                "B08",
                "B09",
                "B10",
                "B11",
                "B12",
                "B13",
                "B14",
                "B15",
                "B16",
                "B17",
                "B18",
                "B19",
                "B20",
                "B21",
                "B22",
                "B23",
                "B24",
                "B25",
                "B26",
                "B27",
                "B28",
                "B29"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/A/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_臺北市",
        "description": "API_模糊檢索_路名清單_臺北市",
        "operationId": "2dms_addrm_v1_ListRoad_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：A01:松山區, A02:大安區, A03:中正區, A05:萬華區, A09:大同區, A10:中山區, A11:文山區, A13:南港區, A14:內湖區, A15:士林區, A16:北投區, A17:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "A01",
                "A02",
                "A03",
                "A05",
                "A09",
                "A10",
                "A11",
                "A13",
                "A14",
                "A15",
                "A16",
                "A17"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/V/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_臺東縣",
        "description": "API_模糊檢索_路名清單_臺東縣",
        "operationId": "2dms_addrm_v1_ListRoad_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：V01:臺東市, V02:成功鎮, V03:關山鎮, V04:卑南鄉, V05:大武鄉, V06:太麻里鄉, V07:東河鄉, V08:長濱鄉, V09:鹿野鄉, V10:池上鄉, V11:綠島鄉, V12:延平鄉, V13:海端鄉, V14:達仁鄉, V15:金峰鄉, V16:蘭嶼鄉",
            "schema": {
              "type": "string",
              "enum": [
                "V01",
                "V02",
                "V03",
                "V04",
                "V05",
                "V06",
                "V07",
                "V08",
                "V09",
                "V10",
                "V11",
                "V12",
                "V13",
                "V14",
                "V15",
                "V16"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/D/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_臺南市",
        "description": "API_模糊檢索_路名清單_臺南市",
        "operationId": "2dms_addrm_v1_ListRoad_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：D01:東區, D02:南區, D04:北區, D06:安南區, D07:安平區, D08:中西區, D09:新營區, D10:鹽水區, D11:柳營區, D12:白河區, D13:後壁區, D14:東山區, D15:麻豆區, D16:下營區, D17:六甲區, D18:官田區, D19:大內區, D20:佳里區, D21:西港區, D22:七股區, D23:將軍區, D24:北門區, D25:學甲區, D26:新化區, D27:善化區, D28:新市區, D29:安定區, D30:山上區, D31:左鎮區, D32:仁德區, D33:歸仁區, D34:關廟區, D35:龍崎區, D36:玉井區, D37:楠西區, D38:南化區, D39:永康區",
            "schema": {
              "type": "string",
              "enum": [
                "D01",
                "D02",
                "D04",
                "D06",
                "D07",
                "D08",
                "D09",
                "D10",
                "D11",
                "D12",
                "D13",
                "D14",
                "D15",
                "D16",
                "D17",
                "D18",
                "D19",
                "D20",
                "D21",
                "D22",
                "D23",
                "D24",
                "D25",
                "D26",
                "D27",
                "D28",
                "D29",
                "D30",
                "D31",
                "D32",
                "D33",
                "D34",
                "D35",
                "D36",
                "D37",
                "D38",
                "D39"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoad/X/{town}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_路名清單_澎湖縣",
        "description": "API_模糊檢索_路名清單_澎湖縣",
        "operationId": "2dms_addrm_v1_ListRoad_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：X01:馬公市, X02:湖西鄉, X03:白沙鄉, X04:西嶼鄉, X05:望安鄉, X06:七美鄉",
            "schema": {
              "type": "string",
              "enum": [
                "X01",
                "X02",
                "X03",
                "X04",
                "X05",
                "X06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/G/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_宜蘭縣",
        "description": "API_模糊檢索_巷弄清單_宜蘭縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：G01:宜蘭市, G02:頭城鎮, G03:礁溪鄉, G04:壯圍鄉, G05:員山鄉, G06:羅東鎮, G07:五結鄉, G08:冬山鄉, G09:蘇澳鎮, G10:三星鄉, G11:大同鄉, G12:南澳鄉",
            "schema": {
              "type": "string",
              "enum": [
                "G01",
                "G02",
                "G03",
                "G04",
                "G05",
                "G06",
                "G07",
                "G08",
                "G09",
                "G10",
                "G11",
                "G12"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/U/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_花蓮縣",
        "description": "API_模糊檢索_巷弄清單_花蓮縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：U01:花蓮市, U02:光復鄉, U03:玉里鎮, U04:新城鄉, U05:吉安鄉, U06:壽豐鄉, U07:鳳林鎮, U08:豐濱鄉, U09:瑞穗鄉, U10:富里鄉, U11:秀林鄉, U12:萬榮鄉, U13:卓溪鄉",
            "schema": {
              "type": "string",
              "enum": [
                "U01",
                "U02",
                "U03",
                "U04",
                "U05",
                "U06",
                "U07",
                "U08",
                "U09",
                "U10",
                "U11",
                "U12",
                "U13"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/W/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_金門縣",
        "description": "API_模糊檢索_巷弄清單_金門縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：W01:金湖鎮, W02:金沙鎮, W03:金城鎮, W04:金寧鄉, W05:烈嶼鄉, W06:烏坵鄉",
            "schema": {
              "type": "string",
              "enum": [
                "W01",
                "W02",
                "W03",
                "W04",
                "W05",
                "W06"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/M/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_南投縣",
        "description": "API_模糊檢索_巷弄清單_南投縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：M01:南投市, M02:埔里鎮, M03:草屯鎮, M04:竹山鎮, M05:集集鎮, M06:名間鄉, M07:鹿谷鄉, M08:中寮鄉, M09:魚池鄉, M10:國姓鄉, M11:水里鄉, M12:信義鄉, M13:仁愛鄉",
            "schema": {
              "type": "string",
              "enum": [
                "M01",
                "M02",
                "M03",
                "M04",
                "M05",
                "M06",
                "M07",
                "M08",
                "M09",
                "M10",
                "M11",
                "M12",
                "M13"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/T/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_屏東縣",
        "description": "API_模糊檢索_巷弄清單_屏東縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：T01:屏東市, T02:潮州鎮, T03:東港鎮, T04:恆春鎮, T05:萬丹鄉, T06:長治鄉, T07:麟洛鄉, T08:九如鄉, T09:里港鄉, T10:鹽埔鄉, T11:高樹鄉, T12:萬巒鄉, T13:內埔鄉, T14:竹田鄉, T15:新埤鄉, T16:枋寮鄉, T17:新園鄉, T18:崁頂鄉, T19:林邊鄉, T20:南州鄉, T21:佳冬鄉, T22:琉球鄉, T23:車城鄉, T24:滿州鄉, T25:枋山鄉, T26:三地門鄉, T27:霧臺鄉, T28:瑪家鄉, T29:泰武鄉, T30:來義鄉, T31:春日鄉, T32:獅子鄉, T33:牡丹鄉",
            "schema": {
              "type": "string",
              "enum": [
                "T01",
                "T02",
                "T03",
                "T04",
                "T05",
                "T06",
                "T07",
                "T08",
                "T09",
                "T10",
                "T11",
                "T12",
                "T13",
                "T14",
                "T15",
                "T16",
                "T17",
                "T18",
                "T19",
                "T20",
                "T21",
                "T22",
                "T23",
                "T24",
                "T25",
                "T26",
                "T27",
                "T28",
                "T29",
                "T30",
                "T31",
                "T32",
                "T33"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/K/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_苗栗縣",
        "description": "API_模糊檢索_巷弄清單_苗栗縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：K01:苗栗市, K02:苑裡鎮, K03:通霄鎮, K04:公館鄉, K05:銅鑼鄉, K06:三義鄉, K07:西湖鄉, K08:頭屋鄉, K09:竹南鎮, K10:頭份市, K11:造橋鄉, K12:後龍鎮, K13:三灣鄉, K14:南庄鄉, K15:大湖鄉, K16:卓蘭鎮, K17:獅潭鄉, K18:泰安鄉",
            "schema": {
              "type": "string",
              "enum": [
                "K01",
                "K02",
                "K03",
                "K04",
                "K05",
                "K06",
                "K07",
                "K08",
                "K09",
                "K10",
                "K11",
                "K12",
                "K13",
                "K14",
                "K15",
                "K16",
                "K17",
                "K18"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/H/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_桃園市",
        "description": "API_模糊檢索_巷弄清單_桃園市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：H01:桃園區, H02:大溪區, H03:中壢區, H04:楊梅區, H05:蘆竹區, H06:大園區, H07:龜山區, H08:八德區, H09:龍潭區, H10:平鎮區, H11:新屋區, H12:觀音區, H13:復興區",
            "schema": {
              "type": "string",
              "enum": [
                "H01",
                "H02",
                "H03",
                "H04",
                "H05",
                "H06",
                "H07",
                "H08",
                "H09",
                "H10",
                "H11",
                "H12",
                "H13"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/E/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_高雄市",
        "description": "API_模糊檢索_巷弄清單_高雄市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：E01:鹽埕區, E02:鼓山區, E03:左營區, E04:楠梓區, E05:三民區, E06:新興區, E07:前金區, E08:苓雅區, E09:前鎮區, E10:旗津區, E11:小港區, E12:鳳山區, E13:林園區, E14:大寮區, E15:大樹區, E16:大社區, E17:仁武區, E18:鳥松區, E19:岡山區, E20:橋頭區, E21:燕巢區, E22:田寮區, E23:阿蓮區, E24:路竹區, E25:湖內區, E26:茄萣區, E27:永安區, E28:彌陀區, E29:梓官區, E30:旗山區, E31:美濃區, E32:六龜區, E33:甲仙區, E34:杉林區, E35:內門區, E36:茂林區, E37:桃源區, E38:那瑪夏區",
            "schema": {
              "type": "string",
              "enum": [
                "E01",
                "E02",
                "E03",
                "E04",
                "E05",
                "E06",
                "E07",
                "E08",
                "E09",
                "E10",
                "E11",
                "E12",
                "E13",
                "E14",
                "E15",
                "E16",
                "E17",
                "E18",
                "E19",
                "E20",
                "E21",
                "E22",
                "E23",
                "E24",
                "E25",
                "E26",
                "E27",
                "E28",
                "E29",
                "E30",
                "E31",
                "E32",
                "E33",
                "E34",
                "E35",
                "E36",
                "E37",
                "E38"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/C/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_基隆市",
        "description": "API_模糊檢索_巷弄清單_基隆市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：C01:中正區, C02:七堵區, C03:暖暖區, C04:仁愛區, C05:中山區, C06:安樂區, C07:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "C01",
                "C02",
                "C03",
                "C04",
                "C05",
                "C06",
                "C07"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/Z/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_連江縣",
        "description": "API_模糊檢索_巷弄清單_連江縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Z01:南竿鄉, Z02:北竿鄉, Z03:莒光鄉, Z04:東引鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Z01",
                "Z02",
                "Z03",
                "Z04"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/P/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_雲林縣",
        "description": "API_模糊檢索_巷弄清單_雲林縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：P01:斗六市, P02:斗南鎮, P03:虎尾鎮, P04:西螺鎮, P05:土庫鎮, P06:北港鎮, P07:古坑鄉, P08:大埤鄉, P09:莿桐鄉, P10:林內鄉, P11:二崙鄉, P12:崙背鄉, P13:麥寮鄉, P14:東勢鄉, P15:褒忠鄉, P16:臺西鄉, P17:元長鄉, P18:四湖鄉, P19:口湖鄉, P20:水林鄉",
            "schema": {
              "type": "string",
              "enum": [
                "P01",
                "P02",
                "P03",
                "P04",
                "P05",
                "P06",
                "P07",
                "P08",
                "P09",
                "P10",
                "P11",
                "P12",
                "P13",
                "P14",
                "P15",
                "P16",
                "P17",
                "P18",
                "P19",
                "P20"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/F/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_新北市",
        "description": "API_模糊檢索_巷弄清單_新北市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：F01:新莊區, F02:林口區, F03:五股區, F04:蘆洲區, F05:三重區, F06:泰山區, F07:新店區, F08:石碇區, F09:深坑區, F10:坪林區, F11:烏來區, F14:板橋區, F15:三峽區, F16:鶯歌區, F17:樹林區, F18:中和區, F19:土城區, F21:瑞芳區, F22:平溪區, F23:雙溪區, F24:貢寮區, F25:金山區, F26:萬里區, F27:淡水區, F28:汐止區, F30:三芝區, F31:石門區, F32:八里區, F33:永和區",
            "schema": {
              "type": "string",
              "enum": [
                "F01",
                "F02",
                "F03",
                "F04",
                "F05",
                "F06",
                "F07",
                "F08",
                "F09",
                "F10",
                "F11",
                "F14",
                "F15",
                "F16",
                "F17",
                "F18",
                "F19",
                "F21",
                "F22",
                "F23",
                "F24",
                "F25",
                "F26",
                "F27",
                "F28",
                "F30",
                "F31",
                "F32",
                "F33"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/O/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_新竹市",
        "description": "API_模糊檢索_巷弄清單_新竹市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：O01:新竹市",
            "schema": {
              "type": "string",
              "enum": [
                "O01"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/J/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_新竹縣",
        "description": "API_模糊檢索_巷弄清單_新竹縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：J02:竹東鎮, J03:關西鎮, J04:新埔鎮, J05:竹北市, J06:湖口鄉, J08:橫山鄉, J09:新豐鄉, J10:芎林鄉, J11:寶山鄉, J12:北埔鄉, J13:峨眉鄉, J14:尖石鄉, J15:五峰鄉",
            "schema": {
              "type": "string",
              "enum": [
                "J02",
                "J03",
                "J04",
                "J05",
                "J06",
                "J08",
                "J09",
                "J10",
                "J11",
                "J12",
                "J13",
                "J14",
                "J15"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/I/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_嘉義市",
        "description": "API_模糊檢索_巷弄清單_嘉義市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：I01:嘉義市",
            "schema": {
              "type": "string",
              "enum": [
                "I01"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/Q/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_嘉義縣",
        "description": "API_模糊檢索_巷弄清單_嘉義縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Q02:朴子市, Q03:布袋鎮, Q04:大林鎮, Q05:民雄鄉, Q06:溪口鄉, Q07:新港鄉, Q08:六腳鄉, Q09:東石鄉, Q10:義竹鄉, Q11:鹿草鄉, Q12:太保市, Q13:水上鄉, Q14:中埔鄉, Q15:竹崎鄉, Q16:梅山鄉, Q17:番路鄉, Q18:大埔鄉, Q20:阿里山鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Q02",
                "Q03",
                "Q04",
                "Q05",
                "Q06",
                "Q07",
                "Q08",
                "Q09",
                "Q10",
                "Q11",
                "Q12",
                "Q13",
                "Q14",
                "Q15",
                "Q16",
                "Q17",
                "Q18",
                "Q20"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/N/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_彰化縣",
        "description": "API_模糊檢索_巷弄清單_彰化縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：N01:彰化市, N02:鹿港鎮, N03:和美鎮, N04:北斗鎮, N05:員林市, N06:溪湖鎮, N07:田中鎮, N08:二林鎮, N09:線西鄉, N10:伸港鄉, N11:福興鄉, N12:秀水鄉, N13:花壇鄉, N14:芬園鄉, N15:大村鄉, N16:埔鹽鄉, N17:埔心鄉, N18:永靖鄉, N19:社頭鄉, N20:二水鄉, N21:田尾鄉, N22:埤頭鄉, N23:芳苑鄉, N24:大城鄉, N25:竹塘鄉, N26:溪州鄉",
            "schema": {
              "type": "string",
              "enum": [
                "N01",
                "N02",
                "N03",
                "N04",
                "N05",
                "N06",
                "N07",
                "N08",
                "N09",
                "N10",
                "N11",
                "N12",
                "N13",
                "N14",
                "N15",
                "N16",
                "N17",
                "N18",
                "N19",
                "N20",
                "N21",
                "N22",
                "N23",
                "N24",
                "N25",
                "N26"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/B/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_臺中市",
        "description": "API_模糊檢索_巷弄清單_臺中市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：B01:中區, B02:東區, B03:南區, B04:西區, B05:北區, B06:西屯區, B07:南屯區, B08:北屯區, B09:豐原區, B10:東勢區, B11:大甲區, B12:清水區, B13:沙鹿區, B14:梧棲區, B15:后里區, B16:神岡區, B17:潭子區, B18:大雅區, B19:新社區, B20:石岡區, B21:外埔區, B22:大安區, B23:烏日區, B24:大肚區, B25:龍井區, B26:霧峰區, B27:太平區, B28:大里區, B29:和平區",
            "schema": {
              "type": "string",
              "enum": [
                "B01",
                "B02",
                "B03",
                "B04",
                "B05",
                "B06",
                "B07",
                "B08",
                "B09",
                "B10",
                "B11",
                "B12",
                "B13",
                "B14",
                "B15",
                "B16",
                "B17",
                "B18",
                "B19",
                "B20",
                "B21",
                "B22",
                "B23",
                "B24",
                "B25",
                "B26",
                "B27",
                "B28",
                "B29"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/A/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_臺北市",
        "description": "API_模糊檢索_巷弄清單_臺北市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：A01:松山區, A02:大安區, A03:中正區, A05:萬華區, A09:大同區, A10:中山區, A11:文山區, A13:南港區, A14:內湖區, A15:士林區, A16:北投區, A17:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "A01",
                "A02",
                "A03",
                "A05",
                "A09",
                "A10",
                "A11",
                "A13",
                "A14",
                "A15",
                "A16",
                "A17"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/V/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_臺東縣",
        "description": "API_模糊檢索_巷弄清單_臺東縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：V01:臺東市, V02:成功鎮, V03:關山鎮, V04:卑南鄉, V05:大武鄉, V06:太麻里鄉, V07:東河鄉, V08:長濱鄉, V09:鹿野鄉, V10:池上鄉, V11:綠島鄉, V12:延平鄉, V13:海端鄉, V14:達仁鄉, V15:金峰鄉, V16:蘭嶼鄉",
            "schema": {
              "type": "string",
              "enum": [
                "V01",
                "V02",
                "V03",
                "V04",
                "V05",
                "V06",
                "V07",
                "V08",
                "V09",
                "V10",
                "V11",
                "V12",
                "V13",
                "V14",
                "V15",
                "V16"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/D/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_臺南市",
        "description": "API_模糊檢索_巷弄清單_臺南市",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：D01:東區, D02:南區, D04:北區, D06:安南區, D07:安平區, D08:中西區, D09:新營區, D10:鹽水區, D11:柳營區, D12:白河區, D13:後壁區, D14:東山區, D15:麻豆區, D16:下營區, D17:六甲區, D18:官田區, D19:大內區, D20:佳里區, D21:西港區, D22:七股區, D23:將軍區, D24:北門區, D25:學甲區, D26:新化區, D27:善化區, D28:新市區, D29:安定區, D30:山上區, D31:左鎮區, D32:仁德區, D33:歸仁區, D34:關廟區, D35:龍崎區, D36:玉井區, D37:楠西區, D38:南化區, D39:永康區",
            "schema": {
              "type": "string",
              "enum": [
                "D01",
                "D02",
                "D04",
                "D06",
                "D07",
                "D08",
                "D09",
                "D10",
                "D11",
                "D12",
                "D13",
                "D14",
                "D15",
                "D16",
                "D17",
                "D18",
                "D19",
                "D20",
                "D21",
                "D22",
                "D23",
                "D24",
                "D25",
                "D26",
                "D27",
                "D28",
                "D29",
                "D30",
                "D31",
                "D32",
                "D33",
                "D34",
                "D35",
                "D36",
                "D37",
                "D38",
                "D39"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/ListRoadLaneAlley/X/{town}/{road}": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_巷弄清單_澎湖縣",
        "description": "API_模糊檢索_巷弄清單_澎湖縣",
        "operationId": "2dms_addrm_v1_ListRoadLaneAlley_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：X01:馬公市, X02:湖西鄉, X03:白沙鄉, X04:西嶼鄉, X05:望安鄉, X06:七美鄉",
            "schema": {
              "type": "string",
              "enum": [
                "X01",
                "X02",
                "X03",
                "X04",
                "X05",
                "X06"
              ]
            }
          },
          {
            "name": "road",
            "in": "path",
            "required": true,
            "description": "道路名稱",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RoadLaneAlleyList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/PointQueryAddr": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_點坐標回傳門牌_全國",
        "description": "API_模糊檢索_點坐標回傳門牌_全國",
        "operationId": "2dms_addrm_v1_PointQueryAddr",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "description": "點坐標 X",
            "in": "query",
            "name": "oPX",
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "點坐標Y",
            "in": "query",
            "name": "oPY",
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "搜尋範圍公尺",
            "in": "query",
            "name": "oBuffer",
            "schema": {
              "default": "200",
              "type": "string"
            }
          },
          {
            "description": "坐標系統",
            "in": "query",
            "name": "oSRS",
            "schema": {
              "default": "EPSG:4326",
              "type": "string"
            }
          },
          {
            "description": "資料格式",
            "in": "query",
            "name": "oResultDataType",
            "schema": {
              "default": "geojson",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/LineQueryAddr": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_線坐標回傳門牌_全國",
        "description": "API_模糊檢索_線坐標回傳門牌_全國",
        "operationId": "2dms_addrm_v1_LineQueryAddr",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "description": "坐標集合",
            "in": "query",
            "name": "oLineXY_List",
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "搜尋範圍公尺",
            "in": "query",
            "name": "oBuffer",
            "schema": {
              "default": "200",
              "type": "string"
            }
          },
          {
            "description": "坐標系統",
            "in": "query",
            "name": "oSRS",
            "schema": {
              "default": "EPSG:4326",
              "type": "string"
            }
          },
          {
            "description": "資料格式",
            "in": "query",
            "name": "oResultDataType",
            "schema": {
              "default": "geojson",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/idc/PolygonQueryAddr": {
      "get": {
        "tags": [
          "模糊檢索"
        ],
        "summary": "API_模糊檢索_面坐標回傳門牌_全國",
        "description": "API_模糊檢索_面坐標回傳門牌_全國",
        "operationId": "2dms_addrm_v1_PolygonQueryAddr",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "description": "坐標集合",
            "in": "query",
            "name": "oPolygonXY_List",
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "搜尋範圍公尺",
            "in": "query",
            "name": "oBuffer",
            "schema": {
              "default": "50",
              "type": "string"
            }
          },
          {
            "description": "坐標系統",
            "in": "query",
            "name": "oSRS",
            "schema": {
              "default": "EPSG:4326",
              "type": "string"
            }
          },
          {
            "description": "資料格式",
            "in": "query",
            "name": "oResultDataType",
            "schema": {
              "default": "geojson",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextQueryAddressList": {
        "type": "array",
        "xml": {
          "name": "addressItems",
          "wrapped": true
        },
        "items": {
          "$ref": "#/components/schemas/TextQueryAddressItem"
        }
      },
      "RoadLaneAlleyList": {
        "type": "array",
        "xml": {
          "name": "laneAlleyItems",
          "wrapped": true
        },
        "items": {
          "$ref": "#/components/schemas/RoadLaneAlleyItem"
        }
      },
      "RoadList": {
        "type": "array",
        "xml": {
          "name": "roads",
          "wrapped": true
        },
        "items": {
          "$ref": "#/components/schemas/RoadItem"
        }
      },
      "TextQueryMapList": {
        "type": "array",
        "xml": {
          "name": "root",
          "wrapped": true
        },
        "items": {
          "$ref": "#/components/schemas/TextQueryMapItem"
        }
      },
      "TextQueryAddressItem": {
        "type": "object",
        "xml": {
          "name": "addressItem"
        },
        "properties": {
          "content": {
            "description": "完整門牌",
            "type": "string"
          },
          "location": {
            "description": "圖資位置(WGS84)",
            "type": "string"
          }
        }
      },
      "RoadLaneAlleyItem": {
        "type": "object",
        "xml": {
          "name": "laneAlleyItem"
        },
        "properties": {
          "lane": {
            "description": "巷名",
            "type": "string"
          },
          "alleys": {
            "description": "弄名",
            "type": "string"
          }
        }
      },
      "RoadItem": {
        "type": "object",
        "xml": {
          "name": "road"
        },
        "properties": {
          "name": {
            "type": "string",
            "description": "道路名稱"
          }
        }
      },
      "TextQueryMapItem": {
        "type": "object",
        "xml": {
          "name": "ITEM"
        },
        "properties": {
          "CONTENT": {
            "description": "完整名稱",
            "type": "string"
          },
          "KEY": {
            "description": "鍵值",
            "type": "string"
          },
          "LOCATION": {
            "description": "圖資位置(WGS84)",
            "type": "string"
          },
          "REMARK": {
            "description": "中文說明",
            "type": "string"
          }
        }
      }
    }
  }
}