{
  "openapi": "3.1.1",
  "info": {
    "title": "國土測繪圖資雲開放API服務",
    "description": "提供國土測繪圖資雲開放API服務",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.nlsc.gov.tw"
    }
  ],
  "tags": [
    {
      "name": "開放API",
      "description": "國土測繪圖資雲 - 開放 API"
    }
  ],
  "paths": {
    "/other/TownVillagePointQuery/{x}/{y}/{epsg}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_單點坐標回傳行政區(地政)_全國",
        "description": "API_開放_單點坐標回傳行政區(地政)_全國",
        "operationId": "2dms_pubapi_v1_TownVillagePointQuery",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "X坐標",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Y坐標",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "epsg",
            "in": "path",
            "required": true,
            "description": "坐標類別代碼(4326、3826，預設將使用經緯度)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownVillageItem"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/TownVillagePointQuery1/{x}/{y}/{epsg}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_單點坐標回傳行政區(戶政)_全國",
        "description": "API_開放_單點坐標回傳行政區(戶政)_全國",
        "operationId": "2dms_pubapi_v1_TownVillagePointQuery1",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "X坐標",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Y坐標",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "epsg",
            "in": "path",
            "required": true,
            "description": "坐標類別代碼(4326、3826，預設使用經緯度4326)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownVillageItem"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListCounty": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_縣市名稱及代碼清單_全國",
        "description": "API_開放_縣市名稱及代碼清單_全國",
        "operationId": "2dms_pubapi_v1_ListCounty",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CountyItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/G": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_宜蘭縣",
        "description": "API_開放_鄉鎮市區清單(地政)_宜蘭縣",
        "operationId": "2dms_pubapi_v1_ListTown_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/U": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_花蓮縣",
        "description": "API_開放_鄉鎮市區清單(地政)_花蓮縣",
        "operationId": "2dms_pubapi_v1_ListTown_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/W": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_金門縣",
        "description": "API_開放_鄉鎮市區清單(地政)_金門縣",
        "operationId": "2dms_pubapi_v1_ListTown_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/M": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_南投縣",
        "description": "API_開放_鄉鎮市區清單(地政)_南投縣",
        "operationId": "2dms_pubapi_v1_ListTown_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/T": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_屏東縣",
        "description": "API_開放_鄉鎮市區清單(地政)_屏東縣",
        "operationId": "2dms_pubapi_v1_ListTown_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/K": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_苗栗縣",
        "description": "API_開放_鄉鎮市區清單(地政)_苗栗縣",
        "operationId": "2dms_pubapi_v1_ListTown_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/H": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_桃園市",
        "description": "API_開放_鄉鎮市區清單(地政)_桃園市",
        "operationId": "2dms_pubapi_v1_ListTown_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/E": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_高雄市",
        "description": "API_開放_鄉鎮市區清單(地政)_高雄市",
        "operationId": "2dms_pubapi_v1_ListTown_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/C": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_基隆市",
        "description": "API_開放_鄉鎮市區清單(地政)_基隆市",
        "operationId": "2dms_pubapi_v1_ListTown_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/Z": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_連江縣",
        "description": "API_開放_鄉鎮市區清單(地政)_連江縣",
        "operationId": "2dms_pubapi_v1_ListTown_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/P": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_雲林縣",
        "description": "API_開放_鄉鎮市區清單(地政)_雲林縣",
        "operationId": "2dms_pubapi_v1_ListTown_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/F": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_新北市",
        "description": "API_開放_鄉鎮市區清單(地政)_新北市",
        "operationId": "2dms_pubapi_v1_ListTown_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/O": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_新竹市",
        "description": "API_開放_鄉鎮市區清單(地政)_新竹市",
        "operationId": "2dms_pubapi_v1_ListTown_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/J": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_新竹縣",
        "description": "API_開放_鄉鎮市區清單(地政)_新竹縣",
        "operationId": "2dms_pubapi_v1_ListTown_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/I": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_嘉義市",
        "description": "API_開放_鄉鎮市區清單(地政)_嘉義市",
        "operationId": "2dms_pubapi_v1_ListTown_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/Q": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_嘉義縣",
        "description": "API_開放_鄉鎮市區清單(地政)_嘉義縣",
        "operationId": "2dms_pubapi_v1_ListTown_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/N": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_彰化縣",
        "description": "API_開放_鄉鎮市區清單(地政)_彰化縣",
        "operationId": "2dms_pubapi_v1_ListTown_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/B": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_臺中市",
        "description": "API_開放_鄉鎮市區清單(地政)_臺中市",
        "operationId": "2dms_pubapi_v1_ListTown_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/A": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_臺北市",
        "description": "API_開放_鄉鎮市區清單(地政)_臺北市",
        "operationId": "2dms_pubapi_v1_ListTown_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/V": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_臺東縣",
        "description": "API_開放_鄉鎮市區清單(地政)_臺東縣",
        "operationId": "2dms_pubapi_v1_ListTown_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/D": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_臺南市",
        "description": "API_開放_鄉鎮市區清單(地政)_臺南市",
        "operationId": "2dms_pubapi_v1_ListTown_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown/X": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(地政)_澎湖縣",
        "description": "API_開放_鄉鎮市區清單(地政)_澎湖縣",
        "operationId": "2dms_pubapi_v1_ListTown_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/G": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_宜蘭縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_宜蘭縣",
        "operationId": "2dms_pubapi_v1_ListTown1_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/U": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_花蓮縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_花蓮縣",
        "operationId": "2dms_pubapi_v1_ListTown1_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/W": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_金門縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_金門縣",
        "operationId": "2dms_pubapi_v1_ListTown1_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/M": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_南投縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_南投縣",
        "operationId": "2dms_pubapi_v1_ListTown1_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/T": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_屏東縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_屏東縣",
        "operationId": "2dms_pubapi_v1_ListTown1_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/K": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_苗栗縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_苗栗縣",
        "operationId": "2dms_pubapi_v1_ListTown1_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/H": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_桃園市",
        "description": "API_開放_鄉鎮市區清單(戶政)_桃園市",
        "operationId": "2dms_pubapi_v1_ListTown1_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/E": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_高雄市",
        "description": "API_開放_鄉鎮市區清單(戶政)_高雄市",
        "operationId": "2dms_pubapi_v1_ListTown1_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/C": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_基隆市",
        "description": "API_開放_鄉鎮市區清單(戶政)_基隆市",
        "operationId": "2dms_pubapi_v1_ListTown1_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/Z": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_連江縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_連江縣",
        "operationId": "2dms_pubapi_v1_ListTown1_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/P": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_雲林縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_雲林縣",
        "operationId": "2dms_pubapi_v1_ListTown1_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/F": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_新北市",
        "description": "API_開放_鄉鎮市區清單(戶政)_新北市",
        "operationId": "2dms_pubapi_v1_ListTown1_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/O": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_新竹市",
        "description": "API_開放_鄉鎮市區清單(戶政)_新竹市",
        "operationId": "2dms_pubapi_v1_ListTown1_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/J": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_新竹縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_新竹縣",
        "operationId": "2dms_pubapi_v1_ListTown1_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/I": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_嘉義市",
        "description": "API_開放_鄉鎮市區清單(戶政)_嘉義市",
        "operationId": "2dms_pubapi_v1_ListTown1_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/Q": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_嘉義縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_嘉義縣",
        "operationId": "2dms_pubapi_v1_ListTown1_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/N": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_彰化縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_彰化縣",
        "operationId": "2dms_pubapi_v1_ListTown1_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/B": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_臺中市",
        "description": "API_開放_鄉鎮市區清單(戶政)_臺中市",
        "operationId": "2dms_pubapi_v1_ListTown1_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/A": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_臺北市",
        "description": "API_開放_鄉鎮市區清單(戶政)_臺北市",
        "operationId": "2dms_pubapi_v1_ListTown1_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/V": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_臺東縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_臺東縣",
        "operationId": "2dms_pubapi_v1_ListTown1_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/D": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_臺南市",
        "description": "API_開放_鄉鎮市區清單(戶政)_臺南市",
        "operationId": "2dms_pubapi_v1_ListTown1_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListTown1/X": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_鄉鎮市區清單(戶政)_澎湖縣",
        "description": "API_開放_鄉鎮市區清單(戶政)_澎湖縣",
        "operationId": "2dms_pubapi_v1_ListTown1_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TownItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/G/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_宜蘭縣",
        "description": "API_開放_地段清單_宜蘭縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：G01:宜蘭市, G02:頭城鎮, G03:礁溪鄉, G04:壯圍鄉, G05:員山鄉, G06:羅東鎮, G07:五結鄉, G08:冬山鄉, G09:蘇澳鎮, G10:三星鄉, G11:大同鄉, G12:南澳鄉",
            "schema": {
              "type": "string",
              "enum": [
                "G01",
                "G02",
                "G03",
                "G04",
                "G05",
                "G06",
                "G07",
                "G08",
                "G09",
                "G10",
                "G11",
                "G12"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/U/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_花蓮縣",
        "description": "API_開放_地段清單_花蓮縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：U01:花蓮市, U02:光復鄉, U03:玉里鎮, U04:新城鄉, U05:吉安鄉, U06:壽豐鄉, U07:鳳林鎮, U08:豐濱鄉, U09:瑞穗鄉, U10:富里鄉, U11:秀林鄉, U12:萬榮鄉, U13:卓溪鄉",
            "schema": {
              "type": "string",
              "enum": [
                "U01",
                "U02",
                "U03",
                "U04",
                "U05",
                "U06",
                "U07",
                "U08",
                "U09",
                "U10",
                "U11",
                "U12",
                "U13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/W/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_金門縣",
        "description": "API_開放_地段清單_金門縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：W01:金湖鎮, W02:金沙鎮, W03:金城鎮, W04:金寧鄉, W05:烈嶼鄉, W06:烏坵鄉",
            "schema": {
              "type": "string",
              "enum": [
                "W01",
                "W02",
                "W03",
                "W04",
                "W05",
                "W06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/M/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_南投縣",
        "description": "API_開放_地段清單_南投縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：M01:南投市, M02:埔里鎮, M03:草屯鎮, M04:竹山鎮, M05:集集鎮, M06:名間鄉, M07:鹿谷鄉, M08:中寮鄉, M09:魚池鄉, M10:國姓鄉, M11:水里鄉, M12:信義鄉, M13:仁愛鄉",
            "schema": {
              "type": "string",
              "enum": [
                "M01",
                "M02",
                "M03",
                "M04",
                "M05",
                "M06",
                "M07",
                "M08",
                "M09",
                "M10",
                "M11",
                "M12",
                "M13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/T/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_屏東縣",
        "description": "API_開放_地段清單_屏東縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：T01:屏東市, T02:潮州鎮, T03:東港鎮, T04:恆春鎮, T05:萬丹鄉, T06:長治鄉, T07:麟洛鄉, T08:九如鄉, T09:里港鄉, T10:鹽埔鄉, T11:高樹鄉, T12:萬巒鄉, T13:內埔鄉, T14:竹田鄉, T15:新埤鄉, T16:枋寮鄉, T17:新園鄉, T18:崁頂鄉, T19:林邊鄉, T20:南州鄉, T21:佳冬鄉, T22:琉球鄉, T23:車城鄉, T24:滿州鄉, T25:枋山鄉, T26:三地門鄉, T27:霧臺鄉, T28:瑪家鄉, T29:泰武鄉, T30:來義鄉, T31:春日鄉, T32:獅子鄉, T33:牡丹鄉",
            "schema": {
              "type": "string",
              "enum": [
                "T01",
                "T02",
                "T03",
                "T04",
                "T05",
                "T06",
                "T07",
                "T08",
                "T09",
                "T10",
                "T11",
                "T12",
                "T13",
                "T14",
                "T15",
                "T16",
                "T17",
                "T18",
                "T19",
                "T20",
                "T21",
                "T22",
                "T23",
                "T24",
                "T25",
                "T26",
                "T27",
                "T28",
                "T29",
                "T30",
                "T31",
                "T32",
                "T33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/K/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_苗栗縣",
        "description": "API_開放_地段清單_苗栗縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：K01:苗栗市, K02:苑裡鎮, K03:通霄鎮, K04:公館鄉, K05:銅鑼鄉, K06:三義鄉, K07:西湖鄉, K08:頭屋鄉, K09:竹南鎮, K10:頭份市, K11:造橋鄉, K12:後龍鎮, K13:三灣鄉, K14:南庄鄉, K15:大湖鄉, K16:卓蘭鎮, K17:獅潭鄉, K18:泰安鄉",
            "schema": {
              "type": "string",
              "enum": [
                "K01",
                "K02",
                "K03",
                "K04",
                "K05",
                "K06",
                "K07",
                "K08",
                "K09",
                "K10",
                "K11",
                "K12",
                "K13",
                "K14",
                "K15",
                "K16",
                "K17",
                "K18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/H/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_桃園市",
        "description": "API_開放_地段清單_桃園市",
        "operationId": "2dms_pubapi_v1_ListLandSection_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：H01:桃園區, H02:大溪區, H03:中壢區, H04:楊梅區, H05:蘆竹區, H06:大園區, H07:龜山區, H08:八德區, H09:龍潭區, H10:平鎮區, H11:新屋區, H12:觀音區, H13:復興區",
            "schema": {
              "type": "string",
              "enum": [
                "H01",
                "H02",
                "H03",
                "H04",
                "H05",
                "H06",
                "H07",
                "H08",
                "H09",
                "H10",
                "H11",
                "H12",
                "H13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/E/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_高雄市",
        "description": "API_開放_地段清單_高雄市",
        "operationId": "2dms_pubapi_v1_ListLandSection_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：E01:鹽埕區, E02:鼓山區, E03:左營區, E04:楠梓區, E05:三民區, E06:新興區, E07:前金區, E08:苓雅區, E09:前鎮區, E10:旗津區, E11:小港區, E12:鳳山區, E13:林園區, E14:大寮區, E15:大樹區, E16:大社區, E17:仁武區, E18:鳥松區, E19:岡山區, E20:橋頭區, E21:燕巢區, E22:田寮區, E23:阿蓮區, E24:路竹區, E25:湖內區, E26:茄萣區, E27:永安區, E28:彌陀區, E29:梓官區, E30:旗山區, E31:美濃區, E32:六龜區, E33:甲仙區, E34:杉林區, E35:內門區, E36:茂林區, E37:桃源區, E38:那瑪夏區",
            "schema": {
              "type": "string",
              "enum": [
                "E01",
                "E02",
                "E03",
                "E04",
                "E05",
                "E06",
                "E07",
                "E08",
                "E09",
                "E10",
                "E11",
                "E12",
                "E13",
                "E14",
                "E15",
                "E16",
                "E17",
                "E18",
                "E19",
                "E20",
                "E21",
                "E22",
                "E23",
                "E24",
                "E25",
                "E26",
                "E27",
                "E28",
                "E29",
                "E30",
                "E31",
                "E32",
                "E33",
                "E34",
                "E35",
                "E36",
                "E37",
                "E38"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/C/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_基隆市",
        "description": "API_開放_地段清單_基隆市",
        "operationId": "2dms_pubapi_v1_ListLandSection_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：C01:中正區, C02:七堵區, C03:暖暖區, C04:仁愛區, C05:中山區, C06:安樂區, C07:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "C01",
                "C02",
                "C03",
                "C04",
                "C05",
                "C06",
                "C07"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/Z/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_連江縣",
        "description": "API_開放_地段清單_連江縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Z01:南竿鄉, Z02:北竿鄉, Z03:莒光鄉, Z04:東引鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Z01",
                "Z02",
                "Z03",
                "Z04"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/P/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_雲林縣",
        "description": "API_開放_地段清單_雲林縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：P01:斗六市, P02:斗南鎮, P03:虎尾鎮, P04:西螺鎮, P05:土庫鎮, P06:北港鎮, P07:古坑鄉, P08:大埤鄉, P09:莿桐鄉, P10:林內鄉, P11:二崙鄉, P12:崙背鄉, P13:麥寮鄉, P14:東勢鄉, P15:褒忠鄉, P16:臺西鄉, P17:元長鄉, P18:四湖鄉, P19:口湖鄉, P20:水林鄉",
            "schema": {
              "type": "string",
              "enum": [
                "P01",
                "P02",
                "P03",
                "P04",
                "P05",
                "P06",
                "P07",
                "P08",
                "P09",
                "P10",
                "P11",
                "P12",
                "P13",
                "P14",
                "P15",
                "P16",
                "P17",
                "P18",
                "P19",
                "P20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/F/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_新北市",
        "description": "API_開放_地段清單_新北市",
        "operationId": "2dms_pubapi_v1_ListLandSection_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：F01:新莊區, F02:林口區, F03:五股區, F04:蘆洲區, F05:三重區, F06:泰山區, F07:新店區, F08:石碇區, F09:深坑區, F10:坪林區, F11:烏來區, F14:板橋區, F15:三峽區, F16:鶯歌區, F17:樹林區, F18:中和區, F19:土城區, F21:瑞芳區, F22:平溪區, F23:雙溪區, F24:貢寮區, F25:金山區, F26:萬里區, F27:淡水區, F28:汐止區, F30:三芝區, F31:石門區, F32:八里區, F33:永和區",
            "schema": {
              "type": "string",
              "enum": [
                "F01",
                "F02",
                "F03",
                "F04",
                "F05",
                "F06",
                "F07",
                "F08",
                "F09",
                "F10",
                "F11",
                "F14",
                "F15",
                "F16",
                "F17",
                "F18",
                "F19",
                "F21",
                "F22",
                "F23",
                "F24",
                "F25",
                "F26",
                "F27",
                "F28",
                "F30",
                "F31",
                "F32",
                "F33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/O/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_新竹市",
        "description": "API_開放_地段清單_新竹市",
        "operationId": "2dms_pubapi_v1_ListLandSection_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：O01:新竹市",
            "schema": {
              "type": "string",
              "enum": [
                "O01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/J/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_新竹縣",
        "description": "API_開放_地段清單_新竹縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：J02:竹東鎮, J03:關西鎮, J04:新埔鎮, J05:竹北市, J06:湖口鄉, J08:橫山鄉, J09:新豐鄉, J10:芎林鄉, J11:寶山鄉, J12:北埔鄉, J13:峨眉鄉, J14:尖石鄉, J15:五峰鄉",
            "schema": {
              "type": "string",
              "enum": [
                "J02",
                "J03",
                "J04",
                "J05",
                "J06",
                "J08",
                "J09",
                "J10",
                "J11",
                "J12",
                "J13",
                "J14",
                "J15"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/I/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_嘉義市",
        "description": "API_開放_地段清單_嘉義市",
        "operationId": "2dms_pubapi_v1_ListLandSection_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：I01:嘉義市",
            "schema": {
              "type": "string",
              "enum": [
                "I01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/Q/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_嘉義縣",
        "description": "API_開放_地段清單_嘉義縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Q02:朴子市, Q03:布袋鎮, Q04:大林鎮, Q05:民雄鄉, Q06:溪口鄉, Q07:新港鄉, Q08:六腳鄉, Q09:東石鄉, Q10:義竹鄉, Q11:鹿草鄉, Q12:太保市, Q13:水上鄉, Q14:中埔鄉, Q15:竹崎鄉, Q16:梅山鄉, Q17:番路鄉, Q18:大埔鄉, Q20:阿里山鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Q02",
                "Q03",
                "Q04",
                "Q05",
                "Q06",
                "Q07",
                "Q08",
                "Q09",
                "Q10",
                "Q11",
                "Q12",
                "Q13",
                "Q14",
                "Q15",
                "Q16",
                "Q17",
                "Q18",
                "Q20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/N/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_彰化縣",
        "description": "API_開放_地段清單_彰化縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：N01:彰化市, N02:鹿港鎮, N03:和美鎮, N04:北斗鎮, N05:員林市, N06:溪湖鎮, N07:田中鎮, N08:二林鎮, N09:線西鄉, N10:伸港鄉, N11:福興鄉, N12:秀水鄉, N13:花壇鄉, N14:芬園鄉, N15:大村鄉, N16:埔鹽鄉, N17:埔心鄉, N18:永靖鄉, N19:社頭鄉, N20:二水鄉, N21:田尾鄉, N22:埤頭鄉, N23:芳苑鄉, N24:大城鄉, N25:竹塘鄉, N26:溪州鄉",
            "schema": {
              "type": "string",
              "enum": [
                "N01",
                "N02",
                "N03",
                "N04",
                "N05",
                "N06",
                "N07",
                "N08",
                "N09",
                "N10",
                "N11",
                "N12",
                "N13",
                "N14",
                "N15",
                "N16",
                "N17",
                "N18",
                "N19",
                "N20",
                "N21",
                "N22",
                "N23",
                "N24",
                "N25",
                "N26"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/B/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_臺中市",
        "description": "API_開放_地段清單_臺中市",
        "operationId": "2dms_pubapi_v1_ListLandSection_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：B01:中區, B02:東區, B03:南區, B04:西區, B05:北區, B06:西屯區, B07:南屯區, B08:北屯區, B09:豐原區, B10:東勢區, B11:大甲區, B12:清水區, B13:沙鹿區, B14:梧棲區, B15:后里區, B16:神岡區, B17:潭子區, B18:大雅區, B19:新社區, B20:石岡區, B21:外埔區, B22:大安區, B23:烏日區, B24:大肚區, B25:龍井區, B26:霧峰區, B27:太平區, B28:大里區, B29:和平區",
            "schema": {
              "type": "string",
              "enum": [
                "B01",
                "B02",
                "B03",
                "B04",
                "B05",
                "B06",
                "B07",
                "B08",
                "B09",
                "B10",
                "B11",
                "B12",
                "B13",
                "B14",
                "B15",
                "B16",
                "B17",
                "B18",
                "B19",
                "B20",
                "B21",
                "B22",
                "B23",
                "B24",
                "B25",
                "B26",
                "B27",
                "B28",
                "B29"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/A/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_臺北市",
        "description": "API_開放_地段清單_臺北市",
        "operationId": "2dms_pubapi_v1_ListLandSection_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：A01:松山區, A02:大安區, A03:中正區, A05:萬華區, A09:大同區, A10:中山區, A11:文山區, A13:南港區, A14:內湖區, A15:士林區, A16:北投區, A17:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "A01",
                "A02",
                "A03",
                "A05",
                "A09",
                "A10",
                "A11",
                "A13",
                "A14",
                "A15",
                "A16",
                "A17"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/V/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_臺東縣",
        "description": "API_開放_地段清單_臺東縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：V01:臺東市, V02:成功鎮, V03:關山鎮, V04:卑南鄉, V05:大武鄉, V06:太麻里鄉, V07:東河鄉, V08:長濱鄉, V09:鹿野鄉, V10:池上鄉, V11:綠島鄉, V12:延平鄉, V13:海端鄉, V14:達仁鄉, V15:金峰鄉, V16:蘭嶼鄉",
            "schema": {
              "type": "string",
              "enum": [
                "V01",
                "V02",
                "V03",
                "V04",
                "V05",
                "V06",
                "V07",
                "V08",
                "V09",
                "V10",
                "V11",
                "V12",
                "V13",
                "V14",
                "V15",
                "V16"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/D/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_臺南市",
        "description": "API_開放_地段清單_臺南市",
        "operationId": "2dms_pubapi_v1_ListLandSection_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：D01:東區, D02:南區, D04:北區, D06:安南區, D07:安平區, D08:中西區, D09:新營區, D10:鹽水區, D11:柳營區, D12:白河區, D13:後壁區, D14:東山區, D15:麻豆區, D16:下營區, D17:六甲區, D18:官田區, D19:大內區, D20:佳里區, D21:西港區, D22:七股區, D23:將軍區, D24:北門區, D25:學甲區, D26:新化區, D27:善化區, D28:新市區, D29:安定區, D30:山上區, D31:左鎮區, D32:仁德區, D33:歸仁區, D34:關廟區, D35:龍崎區, D36:玉井區, D37:楠西區, D38:南化區, D39:永康區",
            "schema": {
              "type": "string",
              "enum": [
                "D01",
                "D02",
                "D04",
                "D06",
                "D07",
                "D08",
                "D09",
                "D10",
                "D11",
                "D12",
                "D13",
                "D14",
                "D15",
                "D16",
                "D17",
                "D18",
                "D19",
                "D20",
                "D21",
                "D22",
                "D23",
                "D24",
                "D25",
                "D26",
                "D27",
                "D28",
                "D29",
                "D30",
                "D31",
                "D32",
                "D33",
                "D34",
                "D35",
                "D36",
                "D37",
                "D38",
                "D39"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListLandSection/X/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_地段清單_澎湖縣",
        "description": "API_開放_地段清單_澎湖縣",
        "operationId": "2dms_pubapi_v1_ListLandSection_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：X01:馬公市, X02:湖西鄉, X03:白沙鄉, X04:西嶼鄉, X05:望安鄉, X06:七美鄉",
            "schema": {
              "type": "string",
              "enum": [
                "X01",
                "X02",
                "X03",
                "X04",
                "X05",
                "X06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SectItemList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/G/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_宜蘭縣",
        "description": "API_開放_村里清單_宜蘭縣",
        "operationId": "2dms_pubapi_v1_ListVillage_G",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：G01:宜蘭市, G02:頭城鎮, G03:礁溪鄉, G04:壯圍鄉, G05:員山鄉, G06:羅東鎮, G07:五結鄉, G08:冬山鄉, G09:蘇澳鎮, G10:三星鄉, G11:大同鄉, G12:南澳鄉",
            "schema": {
              "type": "string",
              "enum": [
                "G01",
                "G02",
                "G03",
                "G04",
                "G05",
                "G06",
                "G07",
                "G08",
                "G09",
                "G10",
                "G11",
                "G12"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/U/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_花蓮縣",
        "description": "API_開放_村里清單_花蓮縣",
        "operationId": "2dms_pubapi_v1_ListVillage_U",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：U01:花蓮市, U02:光復鄉, U03:玉里鎮, U04:新城鄉, U05:吉安鄉, U06:壽豐鄉, U07:鳳林鎮, U08:豐濱鄉, U09:瑞穗鄉, U10:富里鄉, U11:秀林鄉, U12:萬榮鄉, U13:卓溪鄉",
            "schema": {
              "type": "string",
              "enum": [
                "U01",
                "U02",
                "U03",
                "U04",
                "U05",
                "U06",
                "U07",
                "U08",
                "U09",
                "U10",
                "U11",
                "U12",
                "U13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/W/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_金門縣",
        "description": "API_開放_村里清單_金門縣",
        "operationId": "2dms_pubapi_v1_ListVillage_W",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：W01:金湖鎮, W02:金沙鎮, W03:金城鎮, W04:金寧鄉, W05:烈嶼鄉, W06:烏坵鄉",
            "schema": {
              "type": "string",
              "enum": [
                "W01",
                "W02",
                "W03",
                "W04",
                "W05",
                "W06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/M/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_南投縣",
        "description": "API_開放_村里清單_南投縣",
        "operationId": "2dms_pubapi_v1_ListVillage_M",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：M01:南投市, M02:埔里鎮, M03:草屯鎮, M04:竹山鎮, M05:集集鎮, M06:名間鄉, M07:鹿谷鄉, M08:中寮鄉, M09:魚池鄉, M10:國姓鄉, M11:水里鄉, M12:信義鄉, M13:仁愛鄉",
            "schema": {
              "type": "string",
              "enum": [
                "M01",
                "M02",
                "M03",
                "M04",
                "M05",
                "M06",
                "M07",
                "M08",
                "M09",
                "M10",
                "M11",
                "M12",
                "M13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/T/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_屏東縣",
        "description": "API_開放_村里清單_屏東縣",
        "operationId": "2dms_pubapi_v1_ListVillage_T",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：T01:屏東市, T02:潮州鎮, T03:東港鎮, T04:恆春鎮, T05:萬丹鄉, T06:長治鄉, T07:麟洛鄉, T08:九如鄉, T09:里港鄉, T10:鹽埔鄉, T11:高樹鄉, T12:萬巒鄉, T13:內埔鄉, T14:竹田鄉, T15:新埤鄉, T16:枋寮鄉, T17:新園鄉, T18:崁頂鄉, T19:林邊鄉, T20:南州鄉, T21:佳冬鄉, T22:琉球鄉, T23:車城鄉, T24:滿州鄉, T25:枋山鄉, T26:三地門鄉, T27:霧臺鄉, T28:瑪家鄉, T29:泰武鄉, T30:來義鄉, T31:春日鄉, T32:獅子鄉, T33:牡丹鄉",
            "schema": {
              "type": "string",
              "enum": [
                "T01",
                "T02",
                "T03",
                "T04",
                "T05",
                "T06",
                "T07",
                "T08",
                "T09",
                "T10",
                "T11",
                "T12",
                "T13",
                "T14",
                "T15",
                "T16",
                "T17",
                "T18",
                "T19",
                "T20",
                "T21",
                "T22",
                "T23",
                "T24",
                "T25",
                "T26",
                "T27",
                "T28",
                "T29",
                "T30",
                "T31",
                "T32",
                "T33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/K/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_苗栗縣",
        "description": "API_開放_村里清單_苗栗縣",
        "operationId": "2dms_pubapi_v1_ListVillage_K",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：K01:苗栗市, K02:苑裡鎮, K03:通霄鎮, K04:公館鄉, K05:銅鑼鄉, K06:三義鄉, K07:西湖鄉, K08:頭屋鄉, K09:竹南鎮, K10:頭份市, K11:造橋鄉, K12:後龍鎮, K13:三灣鄉, K14:南庄鄉, K15:大湖鄉, K16:卓蘭鎮, K17:獅潭鄉, K18:泰安鄉",
            "schema": {
              "type": "string",
              "enum": [
                "K01",
                "K02",
                "K03",
                "K04",
                "K05",
                "K06",
                "K07",
                "K08",
                "K09",
                "K10",
                "K11",
                "K12",
                "K13",
                "K14",
                "K15",
                "K16",
                "K17",
                "K18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/H/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_桃園市",
        "description": "API_開放_村里清單_桃園市",
        "operationId": "2dms_pubapi_v1_ListVillage_H",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：H01:桃園區, H02:大溪區, H03:中壢區, H04:楊梅區, H05:蘆竹區, H06:大園區, H07:龜山區, H08:八德區, H09:龍潭區, H10:平鎮區, H11:新屋區, H12:觀音區, H13:復興區",
            "schema": {
              "type": "string",
              "enum": [
                "H01",
                "H02",
                "H03",
                "H04",
                "H05",
                "H06",
                "H07",
                "H08",
                "H09",
                "H10",
                "H11",
                "H12",
                "H13"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/E/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_高雄市",
        "description": "API_開放_村里清單_高雄市",
        "operationId": "2dms_pubapi_v1_ListVillage_E",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：E01:鹽埕區, E02:鼓山區, E03:左營區, E04:楠梓區, E05:三民區, E06:新興區, E07:前金區, E08:苓雅區, E09:前鎮區, E10:旗津區, E11:小港區, E12:鳳山區, E13:林園區, E14:大寮區, E15:大樹區, E16:大社區, E17:仁武區, E18:鳥松區, E19:岡山區, E20:橋頭區, E21:燕巢區, E22:田寮區, E23:阿蓮區, E24:路竹區, E25:湖內區, E26:茄萣區, E27:永安區, E28:彌陀區, E29:梓官區, E30:旗山區, E31:美濃區, E32:六龜區, E33:甲仙區, E34:杉林區, E35:內門區, E36:茂林區, E37:桃源區, E38:那瑪夏區",
            "schema": {
              "type": "string",
              "enum": [
                "E01",
                "E02",
                "E03",
                "E04",
                "E05",
                "E06",
                "E07",
                "E08",
                "E09",
                "E10",
                "E11",
                "E12",
                "E13",
                "E14",
                "E15",
                "E16",
                "E17",
                "E18",
                "E19",
                "E20",
                "E21",
                "E22",
                "E23",
                "E24",
                "E25",
                "E26",
                "E27",
                "E28",
                "E29",
                "E30",
                "E31",
                "E32",
                "E33",
                "E34",
                "E35",
                "E36",
                "E37",
                "E38"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/C/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_基隆市",
        "description": "API_開放_村里清單_基隆市",
        "operationId": "2dms_pubapi_v1_ListVillage_C",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：C01:中正區, C02:七堵區, C03:暖暖區, C04:仁愛區, C05:中山區, C06:安樂區, C07:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "C01",
                "C02",
                "C03",
                "C04",
                "C05",
                "C06",
                "C07"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/Z/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_連江縣",
        "description": "API_開放_村里清單_連江縣",
        "operationId": "2dms_pubapi_v1_ListVillage_Z",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Z01:南竿鄉, Z02:北竿鄉, Z03:莒光鄉, Z04:東引鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Z01",
                "Z02",
                "Z03",
                "Z04"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/P/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_雲林縣",
        "description": "API_開放_村里清單_雲林縣",
        "operationId": "2dms_pubapi_v1_ListVillage_P",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：P01:斗六市, P02:斗南鎮, P03:虎尾鎮, P04:西螺鎮, P05:土庫鎮, P06:北港鎮, P07:古坑鄉, P08:大埤鄉, P09:莿桐鄉, P10:林內鄉, P11:二崙鄉, P12:崙背鄉, P13:麥寮鄉, P14:東勢鄉, P15:褒忠鄉, P16:臺西鄉, P17:元長鄉, P18:四湖鄉, P19:口湖鄉, P20:水林鄉",
            "schema": {
              "type": "string",
              "enum": [
                "P01",
                "P02",
                "P03",
                "P04",
                "P05",
                "P06",
                "P07",
                "P08",
                "P09",
                "P10",
                "P11",
                "P12",
                "P13",
                "P14",
                "P15",
                "P16",
                "P17",
                "P18",
                "P19",
                "P20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/F/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_新北市",
        "description": "API_開放_村里清單_新北市",
        "operationId": "2dms_pubapi_v1_ListVillage_F",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：F01:新莊區, F02:林口區, F03:五股區, F04:蘆洲區, F05:三重區, F06:泰山區, F07:新店區, F08:石碇區, F09:深坑區, F10:坪林區, F11:烏來區, F14:板橋區, F15:三峽區, F16:鶯歌區, F17:樹林區, F18:中和區, F19:土城區, F21:瑞芳區, F22:平溪區, F23:雙溪區, F24:貢寮區, F25:金山區, F26:萬里區, F27:淡水區, F28:汐止區, F30:三芝區, F31:石門區, F32:八里區, F33:永和區",
            "schema": {
              "type": "string",
              "enum": [
                "F01",
                "F02",
                "F03",
                "F04",
                "F05",
                "F06",
                "F07",
                "F08",
                "F09",
                "F10",
                "F11",
                "F14",
                "F15",
                "F16",
                "F17",
                "F18",
                "F19",
                "F21",
                "F22",
                "F23",
                "F24",
                "F25",
                "F26",
                "F27",
                "F28",
                "F30",
                "F31",
                "F32",
                "F33"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/O/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_新竹市",
        "description": "API_開放_村里清單_新竹市",
        "operationId": "2dms_pubapi_v1_ListVillage_O",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：O01:新竹市",
            "schema": {
              "type": "string",
              "enum": [
                "O01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/J/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_新竹縣",
        "description": "API_開放_村里清單_新竹縣",
        "operationId": "2dms_pubapi_v1_ListVillage_J",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：J02:竹東鎮, J03:關西鎮, J04:新埔鎮, J05:竹北市, J06:湖口鄉, J08:橫山鄉, J09:新豐鄉, J10:芎林鄉, J11:寶山鄉, J12:北埔鄉, J13:峨眉鄉, J14:尖石鄉, J15:五峰鄉",
            "schema": {
              "type": "string",
              "enum": [
                "J02",
                "J03",
                "J04",
                "J05",
                "J06",
                "J08",
                "J09",
                "J10",
                "J11",
                "J12",
                "J13",
                "J14",
                "J15"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/I/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_嘉義市",
        "description": "API_開放_村里清單_嘉義市",
        "operationId": "2dms_pubapi_v1_ListVillage_I",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：I01:嘉義市",
            "schema": {
              "type": "string",
              "enum": [
                "I01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/Q/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_嘉義縣",
        "description": "API_開放_村里清單_嘉義縣",
        "operationId": "2dms_pubapi_v1_ListVillage_Q",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：Q02:朴子市, Q03:布袋鎮, Q04:大林鎮, Q05:民雄鄉, Q06:溪口鄉, Q07:新港鄉, Q08:六腳鄉, Q09:東石鄉, Q10:義竹鄉, Q11:鹿草鄉, Q12:太保市, Q13:水上鄉, Q14:中埔鄉, Q15:竹崎鄉, Q16:梅山鄉, Q17:番路鄉, Q18:大埔鄉, Q20:阿里山鄉",
            "schema": {
              "type": "string",
              "enum": [
                "Q02",
                "Q03",
                "Q04",
                "Q05",
                "Q06",
                "Q07",
                "Q08",
                "Q09",
                "Q10",
                "Q11",
                "Q12",
                "Q13",
                "Q14",
                "Q15",
                "Q16",
                "Q17",
                "Q18",
                "Q20"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/N/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_彰化縣",
        "description": "API_開放_村里清單_彰化縣",
        "operationId": "2dms_pubapi_v1_ListVillage_N",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：N01:彰化市, N02:鹿港鎮, N03:和美鎮, N04:北斗鎮, N05:員林市, N06:溪湖鎮, N07:田中鎮, N08:二林鎮, N09:線西鄉, N10:伸港鄉, N11:福興鄉, N12:秀水鄉, N13:花壇鄉, N14:芬園鄉, N15:大村鄉, N16:埔鹽鄉, N17:埔心鄉, N18:永靖鄉, N19:社頭鄉, N20:二水鄉, N21:田尾鄉, N22:埤頭鄉, N23:芳苑鄉, N24:大城鄉, N25:竹塘鄉, N26:溪州鄉",
            "schema": {
              "type": "string",
              "enum": [
                "N01",
                "N02",
                "N03",
                "N04",
                "N05",
                "N06",
                "N07",
                "N08",
                "N09",
                "N10",
                "N11",
                "N12",
                "N13",
                "N14",
                "N15",
                "N16",
                "N17",
                "N18",
                "N19",
                "N20",
                "N21",
                "N22",
                "N23",
                "N24",
                "N25",
                "N26"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/B/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_臺中市",
        "description": "API_開放_村里清單_臺中市",
        "operationId": "2dms_pubapi_v1_ListVillage_B",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：B01:中區, B02:東區, B03:南區, B04:西區, B05:北區, B06:西屯區, B07:南屯區, B08:北屯區, B09:豐原區, B10:東勢區, B11:大甲區, B12:清水區, B13:沙鹿區, B14:梧棲區, B15:后里區, B16:神岡區, B17:潭子區, B18:大雅區, B19:新社區, B20:石岡區, B21:外埔區, B22:大安區, B23:烏日區, B24:大肚區, B25:龍井區, B26:霧峰區, B27:太平區, B28:大里區, B29:和平區",
            "schema": {
              "type": "string",
              "enum": [
                "B01",
                "B02",
                "B03",
                "B04",
                "B05",
                "B06",
                "B07",
                "B08",
                "B09",
                "B10",
                "B11",
                "B12",
                "B13",
                "B14",
                "B15",
                "B16",
                "B17",
                "B18",
                "B19",
                "B20",
                "B21",
                "B22",
                "B23",
                "B24",
                "B25",
                "B26",
                "B27",
                "B28",
                "B29"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/A/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_臺北市",
        "description": "API_開放_村里清單_臺北市",
        "operationId": "2dms_pubapi_v1_ListVillage_A",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：A01:松山區, A02:大安區, A03:中正區, A05:萬華區, A09:大同區, A10:中山區, A11:文山區, A13:南港區, A14:內湖區, A15:士林區, A16:北投區, A17:信義區",
            "schema": {
              "type": "string",
              "enum": [
                "A01",
                "A02",
                "A03",
                "A05",
                "A09",
                "A10",
                "A11",
                "A13",
                "A14",
                "A15",
                "A16",
                "A17"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/V/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_臺東縣",
        "description": "API_開放_村里清單_臺東縣",
        "operationId": "2dms_pubapi_v1_ListVillage_V",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：V01:臺東市, V02:成功鎮, V03:關山鎮, V04:卑南鄉, V05:大武鄉, V06:太麻里鄉, V07:東河鄉, V08:長濱鄉, V09:鹿野鄉, V10:池上鄉, V11:綠島鄉, V12:延平鄉, V13:海端鄉, V14:達仁鄉, V15:金峰鄉, V16:蘭嶼鄉",
            "schema": {
              "type": "string",
              "enum": [
                "V01",
                "V02",
                "V03",
                "V04",
                "V05",
                "V06",
                "V07",
                "V08",
                "V09",
                "V10",
                "V11",
                "V12",
                "V13",
                "V14",
                "V15",
                "V16"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/D/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_臺南市",
        "description": "API_開放_村里清單_臺南市",
        "operationId": "2dms_pubapi_v1_ListVillage_D",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：D01:東區, D02:南區, D04:北區, D06:安南區, D07:安平區, D08:中西區, D09:新營區, D10:鹽水區, D11:柳營區, D12:白河區, D13:後壁區, D14:東山區, D15:麻豆區, D16:下營區, D17:六甲區, D18:官田區, D19:大內區, D20:佳里區, D21:西港區, D22:七股區, D23:將軍區, D24:北門區, D25:學甲區, D26:新化區, D27:善化區, D28:新市區, D29:安定區, D30:山上區, D31:左鎮區, D32:仁德區, D33:歸仁區, D34:關廟區, D35:龍崎區, D36:玉井區, D37:楠西區, D38:南化區, D39:永康區",
            "schema": {
              "type": "string",
              "enum": [
                "D01",
                "D02",
                "D04",
                "D06",
                "D07",
                "D08",
                "D09",
                "D10",
                "D11",
                "D12",
                "D13",
                "D14",
                "D15",
                "D16",
                "D17",
                "D18",
                "D19",
                "D20",
                "D21",
                "D22",
                "D23",
                "D24",
                "D25",
                "D26",
                "D27",
                "D28",
                "D29",
                "D30",
                "D31",
                "D32",
                "D33",
                "D34",
                "D35",
                "D36",
                "D37",
                "D38",
                "D39"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/ListVillage/X/{town}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里清單_澎湖縣",
        "description": "API_開放_村里清單_澎湖縣",
        "operationId": "2dms_pubapi_v1_ListVillage_X",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼。列舉項目：X01:馬公市, X02:湖西鄉, X03:白沙鄉, X04:西嶼鄉, X05:望安鄉, X06:七美鄉",
            "schema": {
              "type": "string",
              "enum": [
                "X01",
                "X02",
                "X03",
                "X04",
                "X05",
                "X06"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VillageList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/GetMapVillage/{cty}/{town}/{village}/{epsg}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_村里界線範圍圖形(戶政)_全國",
        "description": "API_開放_村里界線範圍圖形(戶政)_全國",
        "operationId": "2dms_pubapi_v1_GetMapVillage",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "cty",
            "in": "path",
            "required": true,
            "description": "縣市代碼",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "town",
            "in": "path",
            "required": true,
            "description": "鄉鎮市區代碼",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "village",
            "in": "path",
            "required": true,
            "description": "村里代碼（戶役政資訊系統資料代碼）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "epsg",
            "in": "path",
            "required": true,
            "description": "坐標類別代碼(4326、3826，預設將使用經緯度)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.google-earth.kml+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/MarkBufferAnlys/edu/{x}/{y}/{radius}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_查詢文教設施_全國",
        "description": "API_開放_查詢文教設施_全國",
        "operationId": "2dms_pubapi_v1_MarkBufferAnlysEdu",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "X坐標",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Y坐標(經緯度)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "path",
            "required": true,
            "description": "半徑範圍(公尺)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkList"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/other/MarkBufferAnlys/med/{x}/{y}/{radius}": {
      "get": {
        "tags": [
          "開放API"
        ],
        "summary": "API_開放_查詢醫療設施_全國",
        "description": "API_開放_查詢醫療設施_全國",
        "operationId": "2dms_pubapi_v1_MarkBufferAnlysMed",
        "x-updateTime": "2026-07-02-00-00-00",
        "parameters": [
          {
            "name": "x",
[...]
